@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card-hover-effects {
      @apply transition duration-500 ease-in-out transform;
      @apply hover:-translate-y-1 hover:scale-[101%];
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
  .heroSlider {
    border-radius: 10px;
    height: 30vh;
  }
  
  @media (min-width: 768px) {
    .heroSlider {
      height: 50vh;
    }
  }
  
